<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AcoesNaBolsa"
        tools:targetApi="31">
        <activity
            android:name=".activity.Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AcaoList"
            android:label="@string/AcaoLista"
            android:parentActivityName=".activity.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AcaoList" />
        </activity>

        <activity
            android:name=".activity.AcaoForm"
            android:label="@string/Acao"
            android:parentActivityName=".activity.AcaoList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.AcaoForm" />
        </activity>

        <activity
            android:name=".activity.TransacaoList"
            android:label="@string/TransacaoLista"
            android:parentActivityName=".activity.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.TransacaoList" />
        </activity>

        <activity
            android:name=".activity.TransacaoForm"
            android:label="@string/Transacao"
            android:parentActivityName=".activity.TransacaoList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.TransacaoForm" />
        </activity>

        <activity
            android:name=".activity.Sobre"
            android:label="@string/Sobre"
            android:parentActivityName=".activity.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Sobre" />
        </activity>

    </application>

</manifest>